<h1> SingUp Below </h1>

<style>
h5{
    color : red;
 }
</style>

{% for message in messages %}
<h5> {{message}} </h5>
{% endfor %}

<form method ='POST' action = 'register'> 
      {% csrf_token %} 

    <p>User Name:</P>
    <input type = 'text' name ='username'/>

    <p>Email_Adress:</P>
    <input type = 'email' name ='email'/>
    
    <p>Password:</P>
    <input type = 'Password' name ='password'/>

    <p>Confirm password:</P>
    <input type = 'password' name ='password2'/><br>
    <br>
    <input type = 'submit' />


</form>